<html>
    <head>
        {% if title %}
        <title>{{ title }} - seqFIRE</title>
        {% else %}
        <title>seqFIRE Ver 2.21</title>
        {% endif %}
    </head>
    <body>
        <div>
            seqFIRE: 
            <a href={{ url_for('index') }}>Home</a>
            <a href={{ url_for('seq_submit') }}>Submit your sequence</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>