{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <h1><p class = "text-center">
            <a href="{{ url_for('seq_submit', analysis_mode = 1, co_analysis = 0) }}">Indel region module<br><small>Find your indel region</small></a>
        </p></h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <h1><p class = "text-center">
            <a href="{{ url_for('seq_submit', analysis_mode = 2, co_analysis = 0) }}">Conserved block module<br><small>Find your conserved block</small></a>
        </p></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4"></div>
    <div class="col-xs-4 col-sm-4">
        <h1><p class = "text-center">
            <a href="{{ url_for('seq_submit', analysis_mode = 2, co_analysis = 1) }}">Co-analysis<br><small>Co-analysis both two</small></a>
        </p></h1>
    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-4 col-sm-4"></div>
  </div>
{% endblock %}
