{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block styles %}
    {{ super() }}
    <style> 
        .paneltext {
          padding: 50px;
          text-align: center;
          background-color: #e5eecc;
          border: solid 1px #c3c3c3;
          display: none;
        }
        
    </style>
{% endblock %}

{% block content %}
<h1>{{ module_name }}<br></h1>
<div class ='container-fluid'>
    <h2 id='inputSection'>Input section<br></h2>
    {{ wtf.render_form(form) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/seqSubmitFunction.js"></script>
{% endblock %}